/* Styles by games */
/**
* design: https://www.templatemonster.com/es/demo/52906.html;
*
**/
/* --------------------------------------
	FONTS FROM GOOGLE - FONTS 

	- soft lines -
 * font-family: 'Open Sans Condensed', sans-serif;
 * font-family: 'Roboto', sans-serif;
 * font-family: 'Source Sans Pro', sans-serif;
 * 

-------------------------------------- */



/* --------------------------------------
	General Styles  
________________________________________ */
.center {
	text-align: center;
}
img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
}
img.alignleft, img[align="left"] {
	float: left;
	margin: 2px 10px 5px 0px;
}
.alignright {
	float: right;
}
img.alignright, img[align="right"] {
	float: right;
	margin: 2px 0px 5px 10px;
}
.clear {
	clear: both;
}
hr.clear {
	clear: both;
	visibility: hidden;
	margin: 10px 0 10px;
	padding: 0px;
	height: 0px;
}

/* --------------------------------------
         General Rules 
________________________________________ */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a,
ul,
li {
	text-decoration: none;
	list-style: none;
}

header
 {
	width: 100%;
	margin:  0px;
	padding: 0px;
	background-origin: center;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 320px !important;
}

.wbsp-main {
	width: 88%;
	max-width: 1300px;
	margin: 0 auto;
}
/*--------------------------------------------------------------
  *****   HEADER, MENU, LOGO, ... *****
--------------------------------------------------------------*/

header img {
	width: 100%;
	max-height: 340px;
	position: absolute;
}
/* top-menu */
.elarea-menu {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	display: table;
}

.wbsp-top-menu {
	width: 100%;
	max-width: 1300px;
	background-color: #272a31;
	z-index: 999;
	position: relative;
	display: inline-block;
	margin: 0 auto;

}

.wbsp-top-menu .wbs-top-barr {
	position: relative;
	display: block;
	width: 100%;
	height: 100px:
}
.wbsp-top-menu nav ul {
	width: 100%;
	left: 0;
}
.wbsp-top-menu nav ul li {
	float: right;
	margin: 5px 10px 20px 10px;
	padding: 5px;
}
.wbsp-top-menu nav ul li a {
	font-family: open sans,sans-serif;
	font-size: 12px;
	color: #626877;
}

/* Central Nav Menu Header */
.logo-area {
	width: 100%;
	max-width: 1300px;
	z-index: 999;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	height: 169px;
}
.logo-area .logo {
	float: left;
	width: 50%;
	height: 100%;
}
.logo-area .logo img {
	width: 100%;
	height: 100%;
	position: relative;
}


/* Central Nav Menu Header */
.main-menu {
	width: 100%;
	height: 110px;
	max-width: 1300px;
	background-color: #3498db;
	z-index: 999;
	position: relative;
	display: inline-block;
	margin: 5px auto 0 auto;
	bottom: 0;
}
.main-menu nav {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}
.main-menu nav .wbsp-bar-menu {
	width: 100%;
	text-align: center;
	height: 100%;
	position: relative;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}
.main-menu nav ul {
	width: 100%;
	left: 0;
}
.main-menu nav ul li {
	margin: 0px 0px 10px;
	display: inline-block;
	padding: 2em 1em;
	background-color: #2d3139;
	border-top: 5px solid #272a31;
}
.main-menu nav ul li:hover {
	background-color: #3498db;
}
.main-menu nav ul li a {
	font-family: open sans,sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600 !important;
	margin: 0;
	letter-spacing: 0;
	border: none;
	vertical-align: top;
	position: relative;
	float: none;
	padding: 34px;
}

/*--------------------------------------------------------------
  *****   BARR BREADCRUMBS *****
--------------------------------------------------------------*/

.wbsp-title-section {
	margin: 0;
	width: 100%;
	height: 105px;
	background-color: #e7e8ea;
	padding: 37px 0 38px;
	font-size: 14px;
	line-height: 23px;
	color: #272a31;
}
.wbsp-actual-page {
	width: 45%;
}
.wbsp-title-section ul {
	width: 45%;
	display: block;
}
.wbsp-title-section ul li {
	display: inline-block;
	float: right;
	margin-right: 4px;
	font-style: normal;
	line-height: 28px;

}
.wbsp-actual-page h1,
.wbsp-breadcrumbs h1 {
	font-family: 'Source Sans Pro', sans-serif;
}
.wbsp-title-section .wbsp-divider {
	font-size: 34px;
	margin-right: 8px;
	margin-left: 8px;
	font-family: 'Roboto', sans-serif;
}
.wbsp-title-section ul li a {
	color: #272a31;
	font-family: 'Source Sans Pro', sans-serif;
}
.wbsp-title-section ul li a:hover {
	color: #3498db;
}
.wbsp-breadcrumbs li:nth-child(1) {
	color: #3498db;
}
/*--------------------------------------------------------------
  *****   CONTENT AREA *****
--------------------------------------------------------------*/

.content {
	margin: 0;
	padding-top: 40px;
}
/*********** Title Section ***********/
.wbsp-entry {
	width: 100%;
	color: #272a31;
}

.wbsp-entry  h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 38px;
	padding: 24px 0 41px;
}
/*********** Entries First-Box Section ***********/

.wbsp-show-box {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	margin: 0px;
}
.wbsp-article {
	/*-webkit-flex: 0 0 30%;
           flex: 0 0 30%; */
    -webkit-align-self: center;
    align-self: center;
	margin-left: 0;
	margin-right: 0;
	margin-top: 2em;
	width: 30%;
}
.wbsp-thumbs {
	-webkit-background-size: cover;   /* Safari 3.0 */
       -moz-background-size: cover;       /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: cover;       /* Opera 9.5 */
            background-size: cover;       /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
	overflow: hidden;
	min-height: 200px;
	max-height: 250px;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));
}
.wbsp-thumbs img {
	transition: transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    background-position: bottom center;
   	height: auto;
	width: 100%;
	opacity: 0.6;
	display: block;
}
.wbsp-thumbs img:hover {
	transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);        /* Opera */
}
.wbsp-date {
	position: absolute;
	bottom: 9.6%;
	margin: 0;
}
.wbsp-date p {
	font-size: 34px;
	text-align: center;
	background: #3498db;
	color: #fff;
	padding: 10px 20px 0px 20px;
}
.wbsp-date p:nth-child(2) {
	font-size: 14px;
	padding: 0 20px 20px 20px;
}
.wbsp-context-dark {
	background: #272a31;
	box-sizing: border-box;
	overflow: hidden;
	padding: 17px 46px 30px;
}
.wbsp-context-dark h2 {
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	font-style: normal;
	text-transform: uppercase;
	color: #fff;
	padding: 0;
	margin: 9px 0 15px; 
}
.wbsp-context-dark h2 a {
	font-family: 'Roboto', sans-serif;
	color: #fff;

}
.wbsp-context-dark h2 a:hover {
	color: #3498db;
}
.wbsp-context-dark p {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	text-align: justify;
}

/*********** Entries Second-Box Section  2 Columns ***********/

.two-column {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	margin: 0px;
}
.doble-column {
	display: -webkit-flex;
	display: flex;
	-webkit-align-self: flex-start;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-self: flex-start;
	width: 70%;
}
.wbsp-context-light {
	display: -webkit-flex;
	display: flex;
	-webkit-align-self: center;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	width: 100%;
	height: 300px;
}

.inside-box {
	display: -webkit-flex;
	display: flex;
  	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.circle-thumb {
	display: -webkit-flex;
	display: flex;
  	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  	width: 30%;
}
.circle-thumb img {
width: 80%;
border-radius: 50%;
}
.wbsp-column-box {
	width: 60%;
}
.light-title {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: 100%;
}
.wbsp-column-box .light-content {
	display: -webkit-flex;
	display: flex;
	-webkit-align-self: left;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	width: 100%;

}
.wbsp-column-box .light-content p {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #bbbaba;
	text-align: justify;
	padding-top: 20px;
}
.wbsp-column-box .light-title h2 a {
	font-family: 'Roboto', sans-serif;
	color: #404040;
}
.wbsp-column-box .light-title h2 a:hover {
	color: #3498db;
}
.wbsp-thumbs-light {
	display: -webkit-flex;
	display: flex;
  	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  	width: 30%;
  	padding: 40px 0 10px;
}
.wbsp-thumbs-light img {
	width: 100%;

}

/* --------------------------------------
          Banner Section
______________ */
.wbsp-banner {
	width: 100%;
	height: 270px;
	transition: 500ms;
	margin: 34px 0;
	background-color: #404040;
	border: 0px solid;
	-webkit-background-size: cover;   /* Safari 3.0 */
       -moz-background-size: cover;       /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: cover;       /* Opera 9.5 */
            background-size: cover;       /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
	overflow: hidden;

}
.wbsp-banner:hover {
  	border-top: 15px solid #3498db;
	border-bottom: 15px solid #3498db;
}
.wbsp-banner img {
	transition: transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    background-position: bottom center;
    opacity: 0.6;
   	height: 100%;
	width: 100%;
	display: block;
	border: 0px;
}
.wbsp-banner img:hover {
	transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);        /* Opera */
}

.wbsp-banner-box {
	position: relative;
	width: 100%;
	display: inline-block;
	top: -60%;
	padding: 33px 20px 0 47px;
	min-height: 160px;
}
.wbsp-banner-title,
.wbsp-banner-content {
	width: 100%;
}
.wbsp-banner-title h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	color: #fff;
}
.wbsp-banner-title h2:hover {
	color: #3498db;
}
.wbsp-banner-content p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #fff;
}
/* --------------------------------------
          Grid - fechas -Panels Six Elementes -
______________ */

.wbsp-fechas-grid {
  display: grid;
  height: auto;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  
}

/*.wbsp-fechas-grid  > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}. */
.wbsp-small-panel {
  	display: grid;
  	height: 200px;
  	align-content: end;
 	 grid-template-columns: auto auto auto;
 	 padding: 10px;
}
.wbsp-grid {
	display: grid;
  	grid-template-columns: auto auto;
}
.wbsp-box-blue {
	background-color: #3498db;
	margin: 0;
	color: #fff;
	padding: 20px;
}
.wbsp-box-blue h2 {
	font-size: 38px;
	font-family: 'Source Sans Pro', sans-serif;
}
.wbsp-box-blue p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 21px;
}
.wbsp-box-grey {
	display: grid;
	grid-template-columns: auto auto;
	background-color: #ddd;
	margin: 0;
	display: block;
	transform: 1s;
}
.wbsp-group {
	display: inline-block;
	padding: 20px 24px 15px;
}
.wbsp-box-grey h3 {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
	font-size: 24px;
}
.wbsp-box-grey p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #bbbaba;
}
.wbsp-box-grey .wbsp-con {
	display: inline-block;
	color: #404040;
	font-size: 28px;
	float: right;
	margin: 10% auto;
	padding: 5px 20px;
}

.wbsp-box-grey:hover {
	background-color: #404040;
	color: #bbbaba;
}
.wbsp-box-grey:hover h3,
.wbsp-box-grey:hover i {
	color: #bbbaba;
}

/* -------------------------------------

 	**** GAMES - PAGE - *******

 --------------------------------------- */
.wbs-content-grid {
	margin: 10px 0 48px;
}
/* -------------------------------------

 	**** FAQ - PAGE - *******

 --------------------------------------- */
 /** del ulistudio 'nav' **/
 .wbsp-faq {
	display: table;
}
.wbsp-faq elemento1 {
	position: absolute;
	width: 100px;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 0;
}

.the-nav label {
	cursor: pointer;
	position: fixed;
	top: 50px;
	left: 30px;
	font-size: 3rem;
	color:  #989899 ; 
	z-index: 10;
	transition: all 300ms;
}
/* --------------------------------------
        ****** FOOTER  ******
--------------------------------------*/

footer {
  background-color: #272a31;
}

.wbsp-footer-grid {
  display: grid;
  height: 200px;
  width: 88%;
  max-width: 1300px;
  margin: auto;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.wbsp-footer-grid > div {
  text-align: center;
  font-size: 30px;
}

/** logo area ***/

.logo-footer {
	width: 300px;
	max-height: 270px;
}
.logo-footer img {
	width: 100%;
	height: auto;
}
.wbsp-legal ul li a {
	color: #bbbaba;
	font-size: 14px;

}
.wbsp-legal ul li a:hover {
	color: #3498db;
}


.wbsp-social {
	padding: 24px 10px 20px;
	color: #404040;
}
.wbsp-social a {
	color: #404040;
	margin: .5em;
}
/* --------------------------------------
         Footer - SOCIAL MEDIA
______________ */



